body {
    width: 95%;
    max-width: 900;
    margin: auto;
    background: url(bar-4607836_1920.jpg) center;
    font-family: sans-serif;
    line-height: 1.5;
    color: white;
    text-align: justify;
}

main {
    background: #00000052;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.logo, .promo-dia, .nome{
    margin: 0;
    text-align: center;
}

.agenda{
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

.agenda table{
    background: #fff00061;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}